<h2>{{hello}}</h2>

<form novalidate name="cvaddCtrl.form" ng-submit="cvaddCtrl.form.$valid && cvaddCtrl.onSubmit()">
	Title : <input type="text" name="cv.title" ng-model="cvaddCtrl.cv.title" required>
	Personal data / name : <input type="text" name="cv.data.name" ng-model="cvaddCtrl.cv.data.name" required>
	Personal data / surname : <input type="text" name="cv.data.surname" ng-model="cvaddCtrl.cv.data.surname">
	Phone : <input type="" name="" ng-model="cvaddCtrl.cv.data.phone">
	Email: <input type="text" name="" ng-model="cvaddCtrl.cv.data.email">
	Descript : <input type="text" name="cv.data.intro" ng-model="cvaddCtrl.cv.data.intro" ng-maxlength="140">
	Ocupation : <input type="text" name="" ng-model="cvaddCtrl.cv.data.ocupation">
	<br>

	<ng-messages for="cvaddCtrl.form.cv.data.name.$error">
	    <ng-messages when="required">
			:(
		</ng-message> 
    </ng-messages> 

<!-- 	<ng-messages when="required">
		Tas pasao de largo :(
	</ng-messages> --> 



	<button type="submit" ng-disabled="cvaddCtrl.form.$invalid">SAVE</button>
</form>


<a ui-sref="app">Home</a>